* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#4e657a ;
}

.loginWrapper{
    display: flex;
    position: relative;
    top: 100px;
    width: 400px;
    height: 400px;
    padding: 40px;
    margin: 0px auto;
    background-color: #435c70;
    text-align: center;
    cursor: pointer;
}

.loginDesc {
    display: flex;
    position: relative;
    bottom: 20px;
    left: 60px;
    color: white;
    font-size: 20px;
    
}

.formInput {
    display: flex;
    flex-direction: column;
    
}

.formInput label {
    display: flex;
    position: relative;
    color: white;
}

.formInput input {
    width: 400px;
    height: 30px;
    margin: 10px 0px;
   
}

.loginBtn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
   
   
}

.loginBtn button {
    display: flex;
    width: 400px;
    padding: 18px;
    justify-content: center;
    color: white;
    background-color: orange;
    cursor: pointer;

    

}








